//@use "sass:math1";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .index-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5);
    .info {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      justify-content: space-between;
      background-color: $color-light;
      border-radius: 5px;
      box-shadow: -20px 20px 10px 0px rgba(0,0,0,0.3);//
      border-left: 3px solid orangered;
      border-bottom: 5px solid orangered;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; // 20px;
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 70%;
        height: fit-content;
        @include flex-vertical();
        @include text-font(1.11vw, 300, 1.39vw, 0); //16px
        text-align: center;
        //color: red;
        p {
          margin-bottom: 1.8%;
        }
        .terve {
          @include text-font(1.39vw, 500, 1.39vw, 0); //20px
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 15%; 
        @include flex-horizontal();
        .btn-go {
          width: 40%; // 30%;
          height: 100%;
          text-align: center;
          @include text-font(1.53vw, 300, 1.53vw, 0); //22px;  
          background-color: $color-grey;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-blick; 
        }
      }
    }
  }
  .tutor-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    .tutor {
      margin: 0 auto;
      width: $block-width;  
      height: $min-main-height; 
      @include flex-vertical();
      background-color: $color-light; 
      border-radius: 5px;
      box-shadow: -20px 20px 10px 0px rgba(0,0,0,0.3);//
      border-left: 3px solid orangered;
      border-bottom: 5px solid orangered;
      .tutor-main {
        margin: 0 auto;
        width: 90%;  
        height: 90%;  
        @include flex-vertical();
        background-color: $color-lang-dark;
        border-radius: 5px;
        box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.3),
                    10px 10px 10px 0px rgba(0,0,0,0.3);//
        .tutor-img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
      .tutor-footer {
        margin: 0 auto;
        width: 90%;
        height: 10%; 
        @include flex-vertical();
        .tutor-footer-box {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          @include flex-horizontal();
          justify-content: space-between;        
          .tutor-logo {
            margin: auto;
            margin-left: 3%;
            display: none;
          }
          .tutor-close {
            margin: auto;
            margin-right: 3%;
            height: 70%;
            @include text-font(1.94vw, 400, 1.94vw, 0);
            color: $color-dark; 
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
          }
          .tutor-close:hover {
            color: $color-accent;
          }
          #tutorSkip {
            margin-right: 0;
            @include text-font(1.67vw, 500, 1.67vw, 0);
          }
          .control-panels {
            margin: auto;
            height: 50%;
            width: auto;
            @include flex-horizontal();
            justify-content: space-between;
            .dot-step {
              height: 100%;
              width: auto;
              svg {
                height: 100%;
              }
            }
            .dot-step:hover {
              svg circle {
                fill: $color-blick;
              }
            }
          }
        }
      }
    }
  }
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      margin: 0 auto;
      width: $header-width;
      height: $header-height;
      @include flex-horizontal();
      background-color: $color-lang-light; 
      .header-left {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        .header-left-block {
          margin: 0 auto; 
          padding-bottom: 1vh;
          width: 100%;
          height: 100%; 
          @include flex-horizontal();
          align-items: end;
          background-color: $color-blick;
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
          }
          svg {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
            rect {
              fill: $color-blick;
            }
            .color-dark:hover {
              fill: $color-light;
              cursor: pointer;
            }
          }//          
        }
      }
      .header-center {
        margin: 0 auto;
        width: $block-width;
        height: 100%;
        @include flex-vertical();
        background-color: $color-blick;
        clip-path: polygon(0% 0%, 100% 0%, 76% 100%, 0% 100%);
        .header-center-block {
          margin: 0 auto;
          width: 100%;
          height: fit-content; 
          @include flex-horizontal();
          justify-content: space-between;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; 
            width: 70%; 
            height: 100%; 
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            .menu-item {
              margin: auto 0;
              margin-right: 4%;
              width: fit-content;
              height: fit-content;
              border: none;
              background: none;
              @include text-font(1.25vw, 300, 1.25vw, 0); //18px; 
              cursor: pointer;
            }
            .menu-item:hover {
              color: $color-light; 
              font-weight: 500;
            }
            .future {
              color: grey;
            }
            .future:hover {
              color: $color-grey-hover;
            }
          }
          .service-time {
            margin: 0 auto;
            padding-bottom: 1vh; 
            margin-right: 24%;  
            width: 30%; 
            height: 100%; 
            @include flex-vertical();
            justify-content: flex-end;
            @include text-font(0.97vw, 300, 0.97vw, 0); 
            align-items: end;
            text-align: right;
            z-index: 999;
          }
        }
      }
      .header-right {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        .header-right-block {
          margin: 0 auto; 
          width: 100%;
          height: 100%; 
          @include flex-horizontal();
          align-items: end;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; 
            width: 100%; 
            height: 100%; 
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            .menu-item {
              margin: 0; 
              margin-left: 8%;
              width: fit-content;
              height: fit-content;
              border: none;
              background: none;
              @include flex-vertical();
              justify-content: flex-end;
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px
              cursor: pointer;
              align-items: end;
              img {
                margin: 0 auto;
                height: 16px;
                width: auto;
                align-items: end;
              }
            }
            .header {
              margin-left: 15%;
            }
            .menu-item:hover {
              color: $color-accent;
              font-weight: 500;
            }
            .menu-item:hover path {
              fill: $color-accent;
            }
            .combo-block {
              margin: 0; 
              width: fit-content; 
              height: auto;
              @include flex-vertical();
              position: relative;
              #appLangEng,
              #appLangRus,
              #appLangEngChoice {
                margin-left: 40%; 
                margin-top: 15%;
                width: fit-content;
                opacity: 1;
                border: none;
                outline: none;
              }
              .combo-list {
                margin: 0; 
                width: 100%;
                height: auto;
                @include flex-vertical();
                //border: 2px solid $color-grey;
                //background-color: $color-grey;
                opacity: 1;
                position: absolute;
                top: -100%;
                z-index: 99;
                display: none;
              }
            }
          }
        }
      }
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $min-main-height;
      @include flex-horizontal();
      .main-left {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
        @include flex-vertical();
        justify-content: flex-start;
        .btn-tutor-block {
          margin: 0 auto;
          margin-top: 10%;
          width: 100%;
          height: 10%;
          @include flex-vertical();
          .btn-tutor {
            margin: 0 auto;
            width: 50%;
            height: 100%;
            padding: 5px;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            img {
              height: auto; 
              width: 100%;  
            }
          }
          .btn-tutor:hover {
            svg path {
              fill: orangered;
            }
          }
        }
      }
      .main-center {
        margin: auto;
        width: $block-width;
        height: $min-main-height;
        @include flex-vertical();
        .settings {
          margin: 0 auto;
          margin-top: 2%; 
          width: 100%;
          height: 10%;
          @include flex-horizontal();
          justify-content: space-between;
          .set-get {
            margin: 0; 
            width: 24%; 
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            background-color: $color-lang-light;  
            border-radius: 5px;
            @include text-font(1.39vw, 400, 1.39vw, 0); //20px;
            color: $color-dark;
            cursor: pointer;
            border: 2px solid $color-grey;            
            .mode-check {
              visibility: hidden;
            }
          }
          #setButton {
            box-shadow: -10px -10px 10px 0px rgba(0,0,0,0.2);//
            border-top: 3px solid orangered;
            border-left: 3px solid orangered;
            border-right: none;
            border-bottom: none;
            border-radius: 5px;
          }
          #getButton {
            box-shadow: 10px -10px 10px 0px rgba(0,0,0,0.2);//
            border-top: 3px solid orangered;
            border-right: 3px solid orangered;
            border-radius: 5px;
          }
          .set-get:hover {
            background-color: $color-blick-dark;
            color: $color-light;  
            border: 2px solid $color-blick;
            svg path {
              fill: $color-light; 
              stroke: $color-light; 
            }
          }
          .get:hover {
            svg path {
              fill: none;
              stroke: $color-light; 
            }
          }
        }
        .modes {
          margin: auto;
          width: 100%;  
          height: 55%;
          @include flex-horizontal();
          justify-content: space-between;
          flex-wrap: wrap;
          border-radius: 5px;
          .mode-item {
            margin: auto 0;
            width: 24%; 
            height: 100%;  
            @include flex-vertical();
            justify-content: space-between;
            border-bottom: 5px solid orangered;
            border-radius: 5px;
            .mode-item-btn {
              margin: auto;
              width: 100%;
              height: 100%;
              align-items: center;
              background-color: $color-grey;
              cursor: pointer;
              border: none; 
              outline: none;
              border-radius: 5px;
              @include flex-vertical();
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2);
              .mode-btn-title {
                margin: auto;
                width: 100%;
                height: 70%;
                background-color: $color-lang-light;
                border-radius: 5px;
                @include flex-vertical();
                .title {
                  width: 100%;
                  margin-bottom: 2.2%; 
                  @include text-font(2.22vw, 400, 2.22vw, 10%); //32px; 
                  color: $color-dark;
                  align-items: center;
                }
                .mini {
                  @include text-font(1.39vw, 400, 1.39vw, 5%); //20px; 
                }
              }
              .mode-btn-info {
                margin: auto;
                width: 100%;
                height: 30%;
                background-color: $color-light;
                border-radius: 5px;
                @include flex-horizontal();
                .info {
                  margin: auto;
                  width: 80%;
                  @include text-font(1.11vw, 400, 1.11vw, 0); //16px; 
                  color: $color-dark;
                  text-align: center;
                }
              }
              .mode-btn-title:hover {
                background-color: orange;
                .title {
                  color: $color-light;
                }                
              }
              .mode-btn-info:hover {
                background-color: $color-blick;
                .info{
                  color: $color-light;
                }                
              }
            }
            .mode-item-btn:hover {
              border: 2px solid $color-blick;
              background-color: orange; 
            }
            #modeItemPlain, #modeItemChoice {
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2);
              border-left: 3px solid orangered;
            }
            #modeItemMix {
              border-right: 3px solid orangered;
              box-shadow: 10px 20px 10px 0px rgba(0,0,0,0.2);
            }
            #modeItemLang, #modeItemChoice {
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2),
                           10px 20px 10px 0px rgba(0,0,0,0.2);
            }
            #modeItemLang {
              border-right: 3px solid orangered;
            }
          }
          .mode-item:hover {
            .mode-item-btn {
              .mode-btn-title {
                background-color: $color-blick-dark;
                .title {
                  color: $color-light;
                }
              }
              .mode-btn-info {
                background-color: $color-blick;
                .info {
                  color: $color-light;
                }
              }
            }
          }
        }
        .results {
          margin: 0 auto;
          margin-bottom: 2%; 
          width: 100%;
          height: 10%;
          @include flex-horizontal();
          justify-content: space-between;
          .set-get {
            margin: 0; 
            width:  24%;  
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            background-color: $color-lang-light;
            @include text-font(1.39vw, 400, 1.39vw, 0); //20px;
            color: $color-dark;
            cursor: pointer;
            box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.2);//
            border-bottom: 3px solid orangered;
            border-left: 3px solid orangered;
            border-top: none;
            border-right: none;
            outline: none;
            border-radius: 5px;
          }
          .set-get:hover {
            background-color: $color-blick-dark;
            color: $color-light;  
            svg path {
              fill: $color-light; 
            }
          }
          .totals {
            margin: 0; 
            width: 49.5%;  
            height: 100%;
            @include flex-vertical();
            background-color: $color-lang-light;  
            border-radius: 5px;
            border-bottom: 3px solid orangered;
            border-right: 3px solid orangered;
            box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2),
                        -10px 10px 10px 0px rgba(0,0,0,0.2);////
            .totals-block {
              margin: 0; 
              @include flex-horizontal();
              justify-content: space-between;
              .total-item {
                margin: auto;
                @include flex-horizontal();
                justify-content: space-between;
                align-items: center;
                p {
                  @include text-font(1.53vw, 400, 1.53vw, 0); //22px; 
                  margin-left: 2.3%;
                }
              }
              .neutral {
                display: none;
              }
            }
          }
          .totals:hover {
            background-color: $color-blick-dark;            
            color: $color-light;  
            svg g path {
              fill: $color-light; 
            }
          }
        }
      }
      .main-right {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
      }
    }
  }
  .modal-settings {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); 
    border-radius: 5px;
    display: none;
    .info {
      margin: 0 auto;
      width: 45%;
      height: 100vh - $header-height - $footer-height; 
      @include flex-vertical();
      justify-content: space-between;
      background-color: rgba(252, 252, 252, 1); 
      border-radius: 5px;
      box-shadow: -20px 20px 10px 0px rgba(0,0,0,0.3);//
      border-left: 3px solid orangered;
      border-bottom: 5px solid orangered;
      overflow-y: auto;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; 
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .modal-title {
          @include text-font(1.25vw, 500, 1.25vw, 0); //18px; 
          color: $color-dark;
          align-self: center;
          text-align: center;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 90%; 
        height: fit-content;
        @include flex-vertical();
        text-align: center;
        .combo-block {
          margin: 0 auto;
          margin-bottom: 2%;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: space-between;
          align-items: center;
          position: relative;
          .combo-label {
            width: 34%;
            @include text-font(1.25vw, 300, 1.25vw, 0); //18px; 
            text-align: left;
            align-self: center;
          }
          .mode {
            width: 14%;
          }
          .choice {
            width: 20%;
          }
          .combo-input {
            margin-left: 10px;
            padding: 5px;
            width: 60%;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
            color: $color-dark;
            border: 1px solid $color-grey-dark;
            border-radius: 5px;
          }
          .combo-input::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
          }
          .combo-button {
            margin-left: 1%;
            padding: 5px;
            width: 6%; // 5.2%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            text-align: center;
            background-color: $color-grey;
            border-radius: 5px;
            border: none;
            outline: none;
          }
          .combo-button:hover {
            background-color: $color-blick;
          }
          .mode-button {
            margin-left: 2%; 
            width: 18%; 
            label {
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
              color: red;
              text-align: center;
            }
          }
          .mode-button-label {
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            text-align: center;
            align-self: center;
          }
          .mode-button:hover {
            background-color: $color-blick;
          }
          .combo-text {
            margin-left: 10px;
            padding: 5px;
            width: 96%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            color: $color-dark;
          }
          .combo-text::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
          }
          .combo-list {
            margin: auto; 
            padding: 10px;
            width: 100%; 
            height: auto;
            max-height: 0.5 * (100vh - $header-height - $footer-height);
            @include flex-vertical();
            justify-content: space-between;
            overflow-y: auto;
            display: none;
            background-color: $color-light; 
            border: 2px solid $color-grey;
            position: absolute;
            top: 100%;
            z-index: 99;
            .combo-list-item {
              margin-bottom: 2%;
              width: auto; 
              @include flex-horizontal();
              align-items: center;
              .combo-list-input {
                padding: 5px;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                color: $color-dark;
                border: 1px solid $color-grey-dark;
                border-radius: 5px;
                img {
                  height: 100%;
                  width: auto;
                }
              }
              .btn-choose {
                margin-left: -10px;
                padding: 10px 20px;
                height: 100%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                background-color: $color-grey;
                border: none;
                border-radius: 5px;
              }
              .btn-choose:hover {
                background-color: $color-blick; 
              }
              label {
                margin-left: 10px;
                width: 70%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                text-align: left;
              }
              .search {
                margin-right: 20px;
                width: 70%;
                visibility: hidden;
              }
            }
            #allThemesCombo {
              display: none;
            }
            .combo-list-choice {
              margin: auto;
              padding: 10px;
              width: 100%;
              height: auto;
              @include flex-vertical();
              justify-content: space-between;
              display: none;
              background-color: $color-light;
            }
          }
          #modeChoice {
            margin-right: 4%;
            width: 80%; 
            height: 100%;
            @include flex-horizontal();
            justify-content: space-between;
            align-self: center;
          }
          .user-choice {
            margin-left: 10px;
            padding: 5px;
            width: 80%; 
            height: auto;
            border: 1px solid $color-grey-dark; 
            border-radius: 5px;
            @include flex-vertical();
            justify-content: space-between;
            align-self: center;
            .user-choice-result {
              margin: 0 auto;
              padding: 5px 0;
              width: 100%;
              height: fit-content;
              @include flex-horizontal();
              justify-content: flex-start;
              align-items: center;
              .result-label {
                width: 20%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                align-self: flex-start;
                text-align: left;
              }
              .result-field {
                padding: 0 5px;
                width: 80%;
                height: auto;
                font-family: Roboto;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                @include flex-vertical();
                align-items: center;
                align-content: center;
                text-align: left;
                border: none;
                outline: none;
                background-color: $color-light;
                resize: none;
              }
            }
          }
        }
        #userChoiceBlock {
          margin-top: 4%;
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 14%; 
        @include flex-horizontal();
        .btn-go {
          width: 40%; 
          height: 100%;
          text-align: center;
          @include text-font(1.53vw, 300, 1.53vw, 0); //22px; 
          background-color: $color-grey;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-blick; 
        }
      }
    }
  }
  .results-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); 
    display: none;
    //opacity: 50%;
    .results {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      justify-content: space-between;
      background-color: $color-light; 
      border-radius: 5px;
      box-shadow: -20px 20px 10px 0px rgba(0,0,0,0.3);//
      border-left: 3px solid orangered;
      border-bottom: 5px solid orangered;
      .results-header {
        margin: 0 auto;
        margin-top: 3%; 
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        .results-title {
          @include text-font(1.25vw, 500, 1.25vw, 0); //18px; 
          color: $color-dark;
          align-self: center;
          text-align: center;
        }
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .results-main {
        margin: 0 auto;
        width: 80%; 
        height: 60%; 
        @include flex-vertical();
        justify-content: space-between;
        @include text-font(16px, 300, 20px, 0);
        text-align: center;
        border: 1px solid $color-lang-dark;
        border-radius: 5px;
        .results-mode {
          margin: 0 auto;
          width: 90%;
          height: 25%;
          @include flex-horizontal();
          justify-content: space-between;
          .results-totals {
            margin: 0 auto;
            width: 30%;
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            .totals-title {
              @include text-font(1.25vw, 400, 1.25vw, 0);
              color: $color-dark;
            }
            .totals-text {
              @include text-font(1.11vw, 300, 1.11vw, 0);
              color: $color-dark;
            }
            .grand-title {
              @include text-font(1.39vw, 400, 1.39vw, 0);
              color: $color-dark;
            }
            .grand-text {
              @include text-font(1.25vw, 400, 1.25vw, 0);
              color: $color-dark;
            }
          }
          .title {
            justify-content: flex-start;
          }
        }
      }
      .results-button {
        margin: 0 auto;
        margin-bottom: 3%;  
        width: 100%;
        height: 15%; 
        @include flex-horizontal();
        justify-content: space-around;
        .btn-ok {
          width: 30%; 
          height: 100%;
          text-align: center;
          @include text-font(1.39vw, 300, 1.39vw, 0); //20px
          background-color: $color-grey;
          border: none;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-grey-dark;
        }
        .btn-ok:hover {
          background-color: $color-blick;
        }
      }
      @media print {
        .results-header,
        .results-button {
          display: none;
        }
        #resultsMain {
          display: block;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    width: $footer-width;
    height: $footer-height;
    @include flex-horizontal();
    background-color: $color-lang-light; 
    .footer-left {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      .footer-left-block {
        margin: 0 auto; 
        width: 100%;
        height: 100%; 
        @include flex-horizontal();
        align-items: center;
        .logo {
          margin: 0 auto;
          width: fit-content;
          height: 100%;
          @include flex-vertical();
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 50%;
            width: auto;
            align-items: center;
          }
        }        
      }
    }
    .footer-center {
      margin: 0 auto;
      width: $block-width;
      height: 100%;
      @include flex-vertical();
      background-color: $color-blick-dark;
      clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
      .footer-center-block {
        margin: 0 auto;
        width: 100%;
        height: fit-content; 
        @include flex-horizontal();
        justify-content: space-between;
        menu {
          margin: 0 auto;
          width: 70%; 
          height: 100%; 
          @include flex-horizontal();
          justify-content: flex-end;
          align-items: center;
          .menu-item {
            margin: auto 0; 
            margin-right: 4%;
            width: fit-content;
            height: fit-content;
            border: none;
            background: none;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            cursor: pointer;
          }
          .menu-item:hover {
            color: $color-light;  
            font-weight: 500;
          }
          .future {
            color: grey;
          }
          .future:hover {
            color: $color-grey-hover;
          }
        }
        .copyright {
          margin: 0 auto;
          margin-left: 26%;
          width: 30%; 
          height: 100%; 
          @include text-font(0.83vw, 300, 0.83vw, 0); //12px; 
          align-items: center;
          text-align: left;
        }
      }
    }
    .footer-right {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      background-color: $color-blick-dark;
      .footer-right-block {
        margin: 0 auto; 
        width: 100%;
        height: 100%; 
        @include flex-horizontal();
        align-items: center;
        menu {
          margin: 0 auto;
          width: 100%; 
          height: 100%; 
          @include flex-horizontal();
          justify-content: flex-start;
          align-items: center;
          .menu-item {
            margin: 0; 
            margin-left: 8%;
            width: fit-content;
            height: fit-content;
            border: none;
            background: none;
            @include text-font(16px, 300, 16px, 0);
            cursor: pointer;
            align-items: center;
            img {
              margin: 0 auto;
              height: 16px;
              width: auto;
              align-items: end;
            }
          }
          .menu-item:hover {
            color: $color-light; 
            font-weight: 500;
          }
          .menu-item:hover path {
            fill: $color-light; 
          }
        }
      }
    }
  }
}
