//@use "sass:math1";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .index-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    //opacity: 50%;
    .info {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      justify-content: space-between;
      //background-color: rgba(247, 213, 161, 1); // $color-blick-light
      background-color: rgba(255, 242, 222, 1); // $color-blick-light-lang
      //background-color: rgba(15, 26, 28, 1); // $color-dark;$color-blick-light;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; // 20px;
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        img {
          margin-left: 3%;
          //background-color: antiquewhite;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 70%;
        height: fit-content;
        @include flex-vertical();
        @include text-font(1.11vw, 300, 1.39vw, 0); //16px
        text-align: center;
        //color: red;
        p {
          margin-bottom: 1.8%;
        }
        .terve {
          @include text-font(1.39vw, 500, 1.39vw, 0); //20px
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 15%; // fit-content;
        @include flex-horizontal();
        .btn-go {
          width: 40%; // 30%;
          height: 100%;
          text-align: center;
          @include text-font(1.53vw, 300, 1.53vw, 0); //22px;  20px;
          background-color: $color-grey;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-grey-dark;
        }
      }
    }
  }
  .tutor-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    .tutor {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      background-color: rgba(215, 219, 219, 1); // $color-grey-dark
      border-radius: 5px;
      .tutor-main {
        margin: 0 auto;
        width: 70%;
        height: 90%;
        @include flex-vertical();
        .tutor-img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
      .tutor-footer {
        margin: 0 auto;
        //margin-top: 3%; // 20px;
        margin-bottom: 1%; // 2%;
        width: 100%;
        height: 10%; // fit-content;////
        @include flex-horizontal();
        justify-content: space-between;
        .tutor-logo {
          margin-left: 3%;
          visibility: hidden;
        }
        .tutor-close {
          margin-right: 3%;
          @include text-font(1.39vw, 400, 1.39vw, 0);
          color: $color-accent;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      margin: 0 auto;
      width: $header-width;
      height: $header-height;
      // position: fixed;
      // top: 0;
      @include flex-horizontal();
      background-color: $color-lang-light; // $color-grey;
      //border-bottom: 2px solid $color-grey-dark;
      //border: 1px solid black;
      .header-left {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        //background-color: $color-blick;
        //border: 1px solid blue;
        .header-left-block {
          margin: 0 auto; // 0 auto;
          padding-bottom: 1vh;
          width: 100%;
          height: 100%; // fit-content;
          @include flex-horizontal();
          //justify-content: flex-end;
          align-items: end;
          //position: relative;
          background-color: $color-blick;
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
            // position: absolute;
            // top: 50%;
            // //right: 50%;
            // z-index: 999;
          }
          svg {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
            rect {
              fill: $color-blick;
            }
            .color-dark:hover {
              fill: $color-light;
              cursor: pointer;
            }
          }//          
        }
      }
      .header-center {
        margin: 0 auto;
        width: $block-width;
        height: 100%;
        @include flex-vertical();
        //justify-content: flex-end;
        background-color: $color-blick;
        clip-path: polygon(0% 0%, 100% 0%, 76% 100%, 0% 100%);
        //border: 1px solid red;
        .header-center-block {
          margin: 0 auto;
          width: 100%;
          height: fit-content; // 100%;
          @include flex-horizontal();
          justify-content: space-between;
          //align-items: flex-end;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; // 2%;
            width: 70%; // auto;    // fit-content;
            height: 100%; // fit-content;
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            //border: 1px solid grey;
            .menu-item {
              margin: auto 0; // 0 auto;
              margin-right: 4%;
              width: fit-content;
              height: fit-content;
              //align-items: center;
              border: none;
              background: none;
              @include text-font(1.25vw, 300, 1.25vw, 0); //18px; //16px
              cursor: pointer;
              //border: 1px solid grey;
            }
            .menu-item:hover {
              color: $color-light;  // $color-accent;
              font-weight: 500;
            }
            .future {
              color: grey;
            }
            .future:hover {
              color: $color-grey-hover;
            }
          }
          .service-time {
            margin: 0 auto;
            padding-bottom: 1vh; // 2%;
            margin-right: 24%;  // 1.39vw;
            width: 30%; // fit-content;
            height: 100%; // fit-content;
            @include flex-vertical();
            justify-content: flex-end;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px
            align-items: end;
            text-align: right;
            z-index: 999;
            //border: 1px solid grey;
          }
        }
      }
      .header-right {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        //border: 1px solid blue;
        .header-right-block {
          margin: 0 auto; // 0 auto;
          width: 100%;
          height: 100%; // fit-content;
          @include flex-horizontal();
          //justify-content: flex-end;
          align-items: end;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; // 2%;
            width: 100%; // 70%; // auto;    // fit-content;
            height: 100%; // fit-content;
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            //border: 1px solid grey;
            .menu-item {
              margin: 0; // 0 auto; // auto 0;   // 0 auto;
              margin-left: 8%;
              width: fit-content;
              height: fit-content;
              //align-items: center;
              border: none;
              background: none;
              @include flex-vertical();
              justify-content: flex-end;
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px
              cursor: pointer;
              align-items: end;
              //border: 1px solid grey;
              img {
                margin: 0 auto;
                height: 16px;
                width: auto;
                align-items: end;
              }
            }
            .header {
              margin-left: 15%;
            }
            .menu-item:hover {
              color: $color-accent;
              font-weight: 500;
            }
            .menu-item:hover path {
              fill: $color-accent;
            }
            .combo-block {
              margin: 0; // auto;
              width: fit-content; // 100%;
              height: auto;
              @include flex-vertical();
              position: relative;
              // top: 100%;
              // z-index: 99;
              // //display: none;
              #appLangEng,
              #appLangRus,
              #appLangEngChoice {
                margin-left: 40%; // 20px;
                margin-top: 15%;
                opacity: 1;
                border: none;
                outline: none;
              }
              .combo-list {
                margin: 0; // auto;
                width: 100%;
                height: auto;
                @include flex-vertical();
                border: 2px solid $color-grey;
                background-color: $color-grey;
                opacity: 1;
                position: absolute;
                top: -100%;
                z-index: 99;
                display: none;
              }
            }
          }
        }
      }
    }
    main {
      margin: 0 auto;
      //margin-top: $header-height;
      width: $site-width;
      min-height: $min-main-height;
      @include flex-horizontal();
      //border: 1px solid black;
      .main-left {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
        //border: 1px solid green;
      }
      .main-center {
        margin: auto;
        width: $block-width;
        height: $min-main-height;
        @include flex-vertical();
        //border: 1px solid green;
        .settings {
          margin: 0 auto;
          margin-top: 2%; // 4%; //40px;
          width: 100%;
          height: 10%;
          @include flex-horizontal();
          justify-content: space-between;
          //border: 1px solid green;
          .set-get {
            margin: 0; // auto;
            //margin-left: 40px;
            width: 24%; // 30%;
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            background-color: $color-lang-light;  // $color-grey;
            //background: none;
            border-radius: 5px;
            @include text-font(1.39vw, 400, 1.39vw, 0); //20px; 18px; 16px
            color: $color-dark;
            cursor: pointer;
            //border: none;
            border: 2px solid $color-grey;            
            //border: 1px solid grey;
            .mode-check {
              visibility: hidden;
            }
          }
          #setButton {
            box-shadow: -10px -10px 10px 0px rgba(0,0,0,0.2);//
            border-top: 3px solid orangered;
            border-left: 3px solid orangered;
            border-right: none;
            border-bottom: none;
            border-radius: 5px;
          }
          #getButton {
            box-shadow: 10px -10px 10px 0px rgba(0,0,0,0.2);//
            border-top: 3px solid orangered;
            border-right: 3px solid orangered;
            border-radius: 5px;
          }
          .set-get:hover {
            background-color: $color-blick-dark;
            color: $color-light;  // $color-accent;
            border: 2px solid $color-blick;
            svg path {
              fill: $color-light; // $color-accent;
              stroke: $color-light; // $color-accent;
            }
            //background-color: $color-grey-dark;
          }
          .get:hover {
            svg path {
              fill: none;
              stroke: $color-light; // $color-accent;
            }
          }
        }
        .modes {
          margin: auto;
          width: 100%;  // 65%;
          height: 55%;
          @include flex-horizontal();
          justify-content: space-between;
          flex-wrap: wrap;
          //border: 1px solid violet;
          border-radius: 5px;
          .mode-item {
            margin: auto 0;
            width: 24%; // 48%;
            height: 100%;  // 48%;
            @include flex-vertical();
            justify-content: space-between;
            //border-right: 3px solid orangered;
            border-bottom: 5px solid orangered;
            //border-top: 1px solid $color-blick-light;
            border-radius: 5px;
            .mode-item-btn {
              margin: auto;
              width: 100%;
              height: 100%;
              align-items: center;
              background-color: $color-grey;
              cursor: pointer;
              border: none; // grey;
              outline: none;
              border-radius: 5px;
              @include flex-vertical();
              //justify-content: space-between;
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2);
              .mode-btn-title {
                margin: auto;
                width: 100%;
                height: 70%;
                background-color: $color-lang-light;
                //border: 1px solid orangered;
                border-radius: 5px;
                @include flex-vertical();
                .title {
                  //margin: auto;
                  width: 100%;
                  margin-bottom: 2.2%; // 10px;
                  @include text-font(2.22vw, 400, 2.22vw, 10%); //32px; 18px; 16px;
                  color: $color-dark;
                  align-items: center;
                }
                .mini {
                  @include text-font(1.39vw, 400, 1.39vw, 5%); //20px; 24px;//
                }
              }
              .mode-btn-info {
                margin: auto;
                width: 100%;
                height: 30%;
                background-color: $color-light;
                //border: 1px solid orangered;
                border-radius: 5px;
                @include flex-horizontal();
                .info {
                  margin: auto;
                  //margin-top: 4.4%;
                  width: 80%;
                  @include text-font(1.11vw, 400, 1.11vw, 0); //16px; 14px;
                  color: $color-dark;
                  text-align: center;
                }
              }
              .mode-btn-title:hover {
                background-color: orange;
                .title {
                  color: $color-light;//
                }                
              }
              .mode-btn-info:hover {
                background-color: $color-blick;
                .info{
                  color: $color-light;//
                }                
              }
              // .title {
              //   margin-bottom: 2.2%; // 10px;
              //   @include text-font(1.25vw, 400, 1.25vw, 0); //18px; 16px;
              //   color: $color-dark;
              // }
              // .info {
              //   margin-top: 4.4%;
              //   //width: 80%;
              //   @include text-font(1.11vw, 400, 1.11vw, 0); //16px; 14px;
              //   color: $color-dark;
              //   text-align: center;
              // }
            }
            .mode-item-btn:hover {
              border: 2px solid $color-blick;
              background-color: orange; // $color-grey-dark;
            }
            #modeItemPlain, #modeItemChoice {
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2);//
              border-left: 3px solid orangered;
              //border-top: 1px solid $color-blick-light;
            }
            #modeItemMix {
              border-right: 3px solid orangered;
              //border-top: 1px solid $color-blick-light;
              box-shadow: 10px 20px 10px 0px rgba(0,0,0,0.2);
            }
            #modeItemLang, #modeItemChoice {
              //border-top: 1px solid $color-blick-light;
              box-shadow: -10px 20px 10px 0px rgba(0,0,0,0.2),
                           10px 20px 10px 0px rgba(0,0,0,0.2);//
            }
            #modeItemLang {
              border-right: 3px solid orangered;
              //border-top: 1px solid $color-blick-light;
            }
            // #modeItemChoice {
            //   background-color: $color-right;
            // }
            // #modeItemChoice:hover {
            //   background-color: $color-right-dark;
            // }
            // #modeItemPlain {
            //   background-color: $color-right;
            // }
            // #modeItemPlain:hover {
            //   background-color: $color-right-dark;
            // }
            // #modeItemMix {
            //   background-color: $color-right;
            // }
            // #modeItemMix:hover {
            //   background-color: $color-right-dark;
            // }
            // #modeItemLang {
            //   background-color: $color-right;
            // }
            // #modeItemLang:hover {
            //   background-color: $color-right-dark;
            // }
          }
          .mode-item:hover {
            .mode-item-btn {
              .mode-btn-title {
                background-color: $color-blick-dark;
                .title {
                  color: $color-light;
                }
              }
              .mode-btn-info {
                background-color: $color-blick;
                .info {
                  color: $color-light;
                }
              }
            }
          }
        }
        .results {
          margin: 0 auto;
          margin-bottom: 2%; // 4%; //40px;
          width: 100%;
          height: 10%;
          @include flex-horizontal();
          justify-content: space-between;
          //border: 1px solid green;
          .set-get {
            margin: 0; // auto;
            //margin-left: 40px;
            width:  24%;  // 30%;
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            //background-color: $color-grey;
            //background: none;
            background-color: $color-lang-light;
            @include text-font(1.39vw, 400, 1.39vw, 0); //20px; 18px;  16px;
            color: $color-dark;
            cursor: pointer;
            //border: none;
            //border: 2px solid $color-grey;
            box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.2);//
            border-bottom: 3px solid orangered;
            border-left: 3px solid orangered;
            border-top: none;
            border-right: none;
            outline: none;
            border-radius: 5px;
            //border: 1px solid grey;
          }
          .set-get:hover {
            background-color: $color-blick-dark;
            //border: 2px solid $color-blick;
            color: $color-light;  // $color-accent;
            svg path {
              fill: $color-light; // $color-accent;
            }
            //background-color: $color-grey-dark;
          }
          .totals {
            margin: 0; // auto;
            //margin-left: 1,5%;  // 20px;
            width: 49.5%;  // 45%;
            height: 100%;
            @include flex-vertical();
            background-color: $color-lang-light;  // $color-grey;
            //background: none;
            //border: 2px solid $color-grey;
            border-radius: 5px;
            //border: 1px solid grey;
            border-bottom: 3px solid orangered;
            border-right: 3px solid orangered;
            box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2),
                        -10px 10px 10px 0px rgba(0,0,0,0.2);////
            .totals-block {
              margin: 0; // auto;
              @include flex-horizontal();
              justify-content: space-between;
              .total-item {
                margin: auto;
                @include flex-horizontal();
                justify-content: space-between;
                align-items: center;
                p {
                  @include text-font(1.53vw, 400, 1.53vw, 0); //22px; 18px;  16px;
                  margin-left: 2.3%;
                }
              }
              .neutral {
                display: none;
              }
            }
          }
          .totals:hover {
            background-color: $color-blick-dark;            
            //border: 2px solid $color-blick;
            color: $color-light;  // $color-accent;
            svg g path {
              fill: $color-light; // $color-accent;
            }
          }
        }
      }
      .main-right {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
        //border: 1px solid green;
      }
    }
  }
  .modal-settings {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    .info {
      margin: 0 auto;
      width: 45%;
      height: 100vh - $header-height - $footer-height; // 55%;
      @include flex-vertical();
      justify-content: space-between;
      background-color: rgba(252, 252, 252, 1); // $color-light;
      overflow-y: auto;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; // 20px;
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        //border: 1px solid blue;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .modal-title {
          @include text-font(1.25vw, 500, 1.25vw, 0); //18px; 16px;
          color: $color-dark;
          align-self: center;
          text-align: center;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 90%; // 70%;
        height: fit-content;
        @include flex-vertical();
        text-align: center;
        //border: 1px solid blue;
        .combo-block {
          margin: 0 auto;
          margin-bottom: 2%;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: space-between;
          align-items: center;
          position: relative;
          .combo-label {
            width: 34%;
            @include text-font(1.25vw, 300, 1.25vw, 0); //18px; 16px;
            text-align: left;
            align-self: center;
          }
          .mode {
            width: 14%;
          }
          .choice {
            width: 20%;
            //border: 1px solid $color-dark;
          }
          .combo-input {
            margin-left: 10px;
            padding: 5px;
            width: 60%;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
            color: $color-dark;
            border: 1px solid $color-grey-dark;
            border-radius: 5px;
            //position: relative;
          }
          .combo-input::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
          }
          .combo-button {
            margin-left: 1%;
            padding: 5px;
            width: 6%; // 5.2%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 14px;
            text-align: center;
            background-color: $color-grey;
            border-radius: 5px;
            border: none;
            outline: none;
          }
          .combo-button:hover {
            background-color: $color-blick;
          }
          .mode-button {
            margin-left: 2%; // 4%;
            //padding: 5px;
            width: 18%; // 22%;
            // @include text-font(14px,300,14px,0);
            // color: red;
            // text-align: center;
            // background-color: $color-grey;
            // border: none;
            // outline: none;
            label {
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 14px;
              color: red;
              text-align: center;
            }
          }
          .mode-button-label {
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 14px;
            //color: red;
            text-align: center;
            align-self: center;
          }
          .mode-button:hover {
            background-color: $color-blick;
          }
          .combo-text {
            margin-left: 10px;
            padding: 5px;
            width: 96%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 14px;
            color: $color-dark;
          }
          .combo-text::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
          }
          .combo-list {
            margin: auto; // auto 0;   // 0;  // auto;
            //margin-left: 10px;
            padding: 10px;
            width: 100%; // fit-content; // 60%;
            //min-height: 0.5*(100vh - $header-height - $footer-height);
            height: auto;
            max-height: 0.5 * (100vh - $header-height - $footer-height);
            @include flex-vertical();
            justify-content: space-between;
            //align-items: center;
            overflow-y: auto;
            display: none;
            background-color: $color-light; // $color-blick-light;
            border: 2px solid $color-grey;
            position: absolute;
            top: 100%;
            z-index: 99;
            .combo-list-item {
              margin-bottom: 2%;
              width: auto; // inherit; // 90%;
              @include flex-horizontal();
              //justify-content: space-between;
              align-items: center;
              .combo-list-input {
                padding: 5px;
                //width: 70%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
                color: $color-dark;
                border: 1px solid $color-grey-dark;
                border-radius: 5px;
                img {
                  height: 100%;
                  width: auto;
                }
              }
              .btn-choose {
                padding: 5px;
                width: 15%; // 25%;
                height: 100%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
                background-color: $color-grey;
                border: none;
                border-radius: 5px;
              }
              .btn-choose:hover {
                background-color: $color-grey-dark;
              }
              label {
                margin-left: 10px;
                width: 70%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
                text-align: left;
              }
              .search {
                margin-right: 20px;
                width: 70%;
              }
            }
            .combo-list-choice {
              margin: auto;
              padding: 10px;
              width: 100%;
              height: auto;
              @include flex-vertical();
              justify-content: space-between;
              display: none;
              background-color: $color-light;
            }
          }
          #modeChoice {
            margin-right: 4%;
            width: 80%; // 90%;
            height: 100%;
            @include flex-horizontal();
            justify-content: space-between;
            align-self: center;
          }
          .user-choice {
            margin-left: 10px;
            padding: 5px;
            width: 80%; // 96%;
            height: auto;
            border: 1px solid $color-grey-dark; //$color-dark;
            border-radius: 5px;
            @include flex-vertical();
            justify-content: space-between;
            align-self: center;
            .user-choice-result {
              margin: 0 auto;
              padding: 5px 0;
              width: 100%;
              height: fit-content;
              @include flex-horizontal();
              justify-content: flex-start;
              align-items: center;
              .result-label {
                width: 20%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
                align-self: flex-start;
                text-align: left;
              }
              .result-field {
                padding: 0 5px;
                width: 80%;
                height: auto;
                font-family: Roboto;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 12px;
                @include flex-vertical();
                //align-self: center;
                align-items: center;
                align-content: center;
                text-align: left;
                border: none;
                outline: none;
                background-color: $color-light;
                resize: none;
              }
            }
          }
        }
        #userChoiceBlock {
          margin-top: 4%;
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 14%; // fit-content;
        @include flex-horizontal();
        .btn-go {
          width: 40%; // 30%;
          height: 100%;
          text-align: center;
          @include text-font(1.53vw, 300, 1.53vw, 0); //22px; 20px;
          background-color: $color-grey;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-grey-dark;
        }
      }
    }
  }
  .results-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    //opacity: 50%;
    .results {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      justify-content: space-between;
      background-color: $color-lang-light; // rgba(247,213,161,1);  // $color-blick-light;
      .results-header {
        margin: 0 auto;
        margin-top: 3%; // 20px;
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        //border: 1px solid blue;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .results-main {
        margin: 0 auto;
        width: 80%; // 70%;
        height: 60%; // fit-content;
        @include flex-vertical();
        justify-content: space-between;
        @include text-font(16px, 300, 20px, 0);
        text-align: center;
        border: 1px solid $color-lang-dark;
        .results-mode {
          margin: 0 auto;
          width: 90%;
          height: 25%;
          @include flex-horizontal();
          justify-content: space-between;
          //border: 1px solid blue;
          .results-totals {
            margin: 0 auto;
            width: 30%;
            height: 100%;
            @include flex-horizontal();
            align-items: center;
            //border: 1px solid blue;
            .totals-title {
              @include text-font(1.39vw, 400, 1.39vw, 0);
              color: $color-dark;
            }
            .totals-text {
              @include text-font(1.25vw, 300, 1.25vw, 0);
              color: $color-dark;
            }
            .grand-title {
              @include text-font(1.67vw, 400, 1.67vw, 0);
              color: $color-dark;
            }
            .grand-text {
              @include text-font(1.39vw, 400, 1.39vw, 0);
              color: $color-dark;
            }
          }
          .title {
            justify-content: flex-start;
            //text-align: left;
          }
        }
      }
      .results-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 10%; // 15%;    // fit-content;
        @include flex-horizontal();
        justify-content: space-around;
        //border: 1px solid blue;
        .btn-ok {
          width: 30%; // 40%; // 30%;
          height: 100%;
          text-align: center;
          @include text-font(1.39vw, 300, 1.39vw, 0); //20px
          background-color: $color-grey;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-grey-dark;
        }
      }
      @media print {
        .results-header,
        .results-button {
          display: none;
        }
        #resultsMain {
          display: block;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    width: $footer-width;
    height: $footer-height;
    @include flex-horizontal();
    background-color: $color-lang-light; // $color-grey;
    //border-top: 2px solid $color-grey-dark;
    //border: 1px solid black;
    .footer-left {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      //justify-content: flex-start;
      //border: 1px solid blue;
      .footer-left-block {
        margin: 0 auto; // 0 auto;
        width: 100%;
        height: 100%; // fit-content;
        @include flex-horizontal();
        //justify-content: flex-end;
        align-items: center;
        .logo {
          margin: 0 auto;
          width: fit-content;
          height: 100%;
          @include flex-vertical();
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 50%;
            width: auto;
            align-items: center;
            //border: 1px solid green;
          }
        }        
        // .copyright {
        //   display: none;
        //   margin: 0 auto;
        //   width: fit-content; // 30%; // fit-content;
        //   height: 100%; // fit-content;
        //   @include text-font(0.83vw, 300, 0.83vw, 0); //12px; 14px
        //   align-items: center;
        //   text-align: left;
        //   @include flex-vertical();
        //   //border: 1px solid grey;
        // }
      }
    }
    .footer-center {
      margin: 0 auto;
      width: $block-width;
      height: 100%;
      @include flex-vertical();
      //justify-content: flex-end;
      //border: 1px solid red;
      background-color: $color-blick-dark;
      clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
      .footer-center-block {
        margin: 0 auto;
        width: 100%;
        height: fit-content; // 100%;
        @include flex-horizontal();
        justify-content: space-between;
        //align-items: flex-end;
        menu {
          margin: 0 auto;
          width: 70%; // auto;    // fit-content;
          height: 100%; // fit-content;
          @include flex-horizontal();
          justify-content: flex-end;
          align-items: center;
          //border: 1px solid grey;
          .menu-item {
            margin: auto 0; // 0 auto;
            margin-right: 4%;
            width: fit-content;
            height: fit-content;
            //align-items: center;
            border: none;
            background: none;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; //14px
            cursor: pointer;
            //border: 1px solid grey;
          }
          .menu-item:hover {
            color: $color-light;  // $color-accent;
            font-weight: 500;
          }
          .future {
            color: grey;
          }
          .future:hover {
            color: $color-grey-hover;
          }
        }
        .copyright {
          //display: none;
          margin: 0 auto;
          margin-left: 26%;
          width: 30%; // fit-content;
          height: 100%; // fit-content;
          @include text-font(0.83vw, 300, 0.83vw, 0); //12px; 14px
          align-items: center;
          text-align: left;
          //border: 1px solid grey;
        }
      }
    }
    .footer-right {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      background-color: $color-blick-dark;
      //justify-content: flex-end;
      //border: 1px solid blue;
      .footer-right-block {
        margin: 0 auto; // 0 auto;
        width: 100%;
        height: 100%; // fit-content;
        @include flex-horizontal();
        //justify-content: flex-end;
        align-items: center;
        menu {
          margin: 0 auto;
          width: 100%; // 70%; // auto;    // fit-content;
          height: 100%; // fit-content;
          @include flex-horizontal();
          justify-content: flex-start;
          align-items: center;
          //border: 1px solid grey;
          .menu-item {
            margin: 0; // 0 auto; // auto 0;   // 0 auto;
            margin-left: 8%;
            width: fit-content;
            height: fit-content;
            //align-items: center;
            border: none;
            background: none;
            @include text-font(16px, 300, 16px, 0);
            cursor: pointer;
            align-items: center;
            //border: 1px solid grey;
            img {
              margin: 0 auto;
              height: 16px;
              width: auto;
              align-items: end;
            }
          }
          .menu-item:hover {
            color: $color-light;  // $color-accent;
            font-weight: 500;
          }
          .menu-item:hover path {
            fill: $color-light; // $color-accent;
          }
        }
      }
    }
  }
}
