@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: NotoSansArmenian;
  src: url(../../assets/fonts/NotoSansArmenian-VariableFont_wdthwght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .index-cover {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(15, 26, 28, 0.5);
}
.wrapper .index-cover .info {
  margin: 0 auto;
  width: 45%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.3);
  border-left: 3px solid orangered;
  border-bottom: 5px solid orangered;
}
.wrapper .index-cover .info .info-header {
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .index-cover .info .info-header img {
  margin-left: 3%;
}
.wrapper .index-cover .info .info-header button {
  margin-right: 3%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .index-cover .info .info-main {
  margin: 0 auto;
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.39vw;
  letter-spacing: 0;
  text-align: center;
}
.wrapper .index-cover .info .info-main p {
  margin-bottom: 1.8%;
}
.wrapper .index-cover .info .info-main .terve {
  font-size: 1.39vw;
  font-weight: 500;
  line-height: 1.39vw;
  letter-spacing: 0;
}
.wrapper .index-cover .info .info-button {
  margin: 0 auto;
  margin-bottom: 7%;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .index-cover .info .info-button .btn-go {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 1.53vw;
  font-weight: 300;
  line-height: 1.53vw;
  letter-spacing: 0;
  background-color: #dae6e8;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .index-cover .info .info-button .btn-go:hover {
  background-color: #f5a836;
}
.wrapper .tutor-cover {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(15, 26, 28, 0.5);
  display: none;
}
.wrapper .tutor-cover .tutor {
  margin: 0 auto;
  width: 70%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.3);
  border-left: 3px solid orangered;
  border-bottom: 5px solid orangered;
}
.wrapper .tutor-cover .tutor .tutor-main {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #d7dbdb;
  border-radius: 5px;
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.3), 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.wrapper .tutor-cover .tutor .tutor-main .tutor-img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .tutor-cover .tutor .tutor-footer {
  margin: 0 auto;
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .tutor-logo {
  margin: auto;
  margin-left: 3%;
  display: none;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .tutor-close {
  margin: auto;
  margin-right: 3%;
  height: 70%;
  font-size: 1.94vw;
  font-weight: 400;
  line-height: 1.94vw;
  letter-spacing: 0;
  color: #0f1a1c;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .tutor-close:hover {
  color: #ff4500;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box #tutorSkip {
  margin-right: 0;
  font-size: 1.67vw;
  font-weight: 500;
  line-height: 1.67vw;
  letter-spacing: 0;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .control-panels {
  margin: auto;
  height: 50%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .control-panels .dot-step {
  height: 100%;
  width: auto;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .control-panels .dot-step svg {
  height: 100%;
}
.wrapper .tutor-cover .tutor .tutor-footer .tutor-footer-box .control-panels .dot-step:hover svg circle {
  fill: #f5a836;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f7f7;
}
.wrapper .top header .header-left {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-left .header-left-block {
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: end;
  background-color: #f5a836;
}
.wrapper .top header .header-left .header-left-block img {
  margin: 0 auto;
  margin-right: 8%;
  height: 80%;
  width: auto;
  align-items: end;
}
.wrapper .top header .header-left .header-left-block svg {
  margin: 0 auto;
  margin-right: 8%;
  height: 80%;
  width: auto;
  align-items: end;
}
.wrapper .top header .header-left .header-left-block svg rect {
  fill: #f5a836;
}
.wrapper .top header .header-left .header-left-block svg .color-dark:hover {
  fill: #fcfcfc;
  cursor: pointer;
}
.wrapper .top header .header-center {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f5a836;
  clip-path: polygon(0% 0%, 100% 0%, 76% 100%, 0% 100%);
}
.wrapper .top header .header-center .header-center-block {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-center .header-center-block menu {
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: end;
}
.wrapper .top header .header-center .header-center-block menu .menu-item {
  margin: auto 0;
  margin-right: 4%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  letter-spacing: 0;
  cursor: pointer;
}
.wrapper .top header .header-center .header-center-block menu .menu-item:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.wrapper .top header .header-center .header-center-block menu .future {
  color: grey;
}
.wrapper .top header .header-center .header-center-block menu .future:hover {
  color: #d7dbdb;
}
.wrapper .top header .header-center .header-center-block .service-time {
  margin: 0 auto;
  padding-bottom: 1vh;
  margin-right: 24%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  align-items: end;
  text-align: right;
  z-index: 999;
}
.wrapper .top header .header-right {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-right .header-right-block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: end;
}
.wrapper .top header .header-right .header-right-block menu {
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: end;
}
.wrapper .top header .header-right .header-right-block menu .menu-item {
  margin: 0;
  margin-left: 8%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  cursor: pointer;
  align-items: end;
}
.wrapper .top header .header-right .header-right-block menu .menu-item img {
  margin: 0 auto;
  height: 16px;
  width: auto;
  align-items: end;
}
.wrapper .top header .header-right .header-right-block menu .header {
  margin-left: 15%;
}
.wrapper .top header .header-right .header-right-block menu .menu-item:hover {
  color: #ff4500;
  font-weight: 500;
}
.wrapper .top header .header-right .header-right-block menu .menu-item:hover path {
  fill: #ff4500;
}
.wrapper .top header .header-right .header-right-block menu .combo-block {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.wrapper .top header .header-right .header-right-block menu .combo-block #appLangEng,
.wrapper .top header .header-right .header-right-block menu .combo-block #appLangRus,
.wrapper .top header .header-right .header-right-block menu .combo-block #appLangEngChoice {
  margin-left: 40%;
  margin-top: 15%;
  opacity: 1;
  border: none;
  outline: none;
}
.wrapper .top header .header-right .header-right-block menu .combo-block .combo-list {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #dae6e8;
  background-color: #dae6e8;
  opacity: 1;
  position: absolute;
  top: -100%;
  z-index: 99;
  display: none;
}
.wrapper .top main {
  margin: 0 auto;
  width: 100%;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-left {
  margin: auto;
  width: 15%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .main-left .btn-tutor-block {
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-left .btn-tutor-block .btn-tutor {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .top main .main-left .btn-tutor-block .btn-tutor img {
  height: auto;
  width: 100%;
}
.wrapper .top main .main-left .btn-tutor-block .btn-tutor:hover svg path {
  fill: orangered;
}
.wrapper .top main .main-center {
  margin: auto;
  width: 70%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-center .settings {
  margin: 0 auto;
  margin-top: 2%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .main-center .settings .set-get {
  margin: 0;
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  background-color: #f2f7f7;
  border-radius: 5px;
  font-size: 1.39vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 0;
  color: #0f1a1c;
  cursor: pointer;
  border: 2px solid #dae6e8;
}
.wrapper .top main .main-center .settings .set-get .mode-check {
  visibility: hidden;
}
.wrapper .top main .main-center .settings #setButton {
  box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.2);
  border-top: 3px solid orangered;
  border-left: 3px solid orangered;
  border-right: none;
  border-bottom: none;
  border-radius: 5px;
}
.wrapper .top main .main-center .settings #getButton {
  box-shadow: 10px -10px 10px 0px rgba(0, 0, 0, 0.2);
  border-top: 3px solid orangered;
  border-right: 3px solid orangered;
  border-radius: 5px;
}
.wrapper .top main .main-center .settings .set-get:hover {
  background-color: #f58318;
  color: #fcfcfc;
  border: 2px solid #f5a836;
}
.wrapper .top main .main-center .settings .set-get:hover svg path {
  fill: #fcfcfc;
  stroke: #fcfcfc;
}
.wrapper .top main .main-center .settings .get:hover svg path {
  fill: none;
  stroke: #fcfcfc;
}
.wrapper .top main .main-center .modes {
  margin: auto;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
}
.wrapper .top main .main-center .modes .mode-item {
  margin: auto 0;
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 5px solid orangered;
  border-radius: 5px;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn {
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #dae6e8;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: -10px 20px 10px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-title {
  margin: auto;
  width: 100%;
  height: 70%;
  background-color: #f2f7f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-title .title {
  width: 100%;
  margin-bottom: 2.2%;
  font-size: 2.22vw;
  font-weight: 400;
  line-height: 2.22vw;
  letter-spacing: 10%;
  color: #0f1a1c;
  align-items: center;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-title .mini {
  font-size: 1.39vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 5%;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-info {
  margin: auto;
  width: 100%;
  height: 30%;
  background-color: #fcfcfc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-info .info {
  margin: auto;
  width: 80%;
  font-size: 1.11vw;
  font-weight: 400;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: #0f1a1c;
  text-align: center;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-title:hover {
  background-color: orange;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-title:hover .title {
  color: #fcfcfc;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-info:hover {
  background-color: #f5a836;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn .mode-btn-info:hover .info {
  color: #fcfcfc;
}
.wrapper .top main .main-center .modes .mode-item .mode-item-btn:hover {
  border: 2px solid #f5a836;
  background-color: orange;
}
.wrapper .top main .main-center .modes .mode-item #modeItemPlain, .wrapper .top main .main-center .modes .mode-item #modeItemChoice {
  box-shadow: -10px 20px 10px 0px rgba(0, 0, 0, 0.2);
  border-left: 3px solid orangered;
}
.wrapper .top main .main-center .modes .mode-item #modeItemMix {
  border-right: 3px solid orangered;
  box-shadow: 10px 20px 10px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .top main .main-center .modes .mode-item #modeItemLang, .wrapper .top main .main-center .modes .mode-item #modeItemChoice {
  box-shadow: -10px 20px 10px 0px rgba(0, 0, 0, 0.2), 10px 20px 10px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .top main .main-center .modes .mode-item #modeItemLang {
  border-right: 3px solid orangered;
}
.wrapper .top main .main-center .modes .mode-item:hover .mode-item-btn .mode-btn-title {
  background-color: #f58318;
}
.wrapper .top main .main-center .modes .mode-item:hover .mode-item-btn .mode-btn-title .title {
  color: #fcfcfc;
}
.wrapper .top main .main-center .modes .mode-item:hover .mode-item-btn .mode-btn-info {
  background-color: #f5a836;
}
.wrapper .top main .main-center .modes .mode-item:hover .mode-item-btn .mode-btn-info .info {
  color: #fcfcfc;
}
.wrapper .top main .main-center .results {
  margin: 0 auto;
  margin-bottom: 2%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .main-center .results .set-get {
  margin: 0;
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  background-color: #f2f7f7;
  font-size: 1.39vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 0;
  color: #0f1a1c;
  cursor: pointer;
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid orangered;
  border-left: 3px solid orangered;
  border-top: none;
  border-right: none;
  outline: none;
  border-radius: 5px;
}
.wrapper .top main .main-center .results .set-get:hover {
  background-color: #f58318;
  color: #fcfcfc;
}
.wrapper .top main .main-center .results .set-get:hover svg path {
  fill: #fcfcfc;
}
.wrapper .top main .main-center .results .totals {
  margin: 0;
  width: 49.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f7f7;
  border-radius: 5px;
  border-bottom: 3px solid orangered;
  border-right: 3px solid orangered;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2), -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.wrapper .top main .main-center .results .totals .totals-block {
  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .main-center .results .totals .totals-block .total-item {
  margin: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.wrapper .top main .main-center .results .totals .totals-block .total-item p {
  font-size: 1.53vw;
  font-weight: 400;
  line-height: 1.53vw;
  letter-spacing: 0;
  margin-left: 2.3%;
}
.wrapper .top main .main-center .results .totals .totals-block .neutral {
  display: none;
}
.wrapper .top main .main-center .results .totals:hover {
  background-color: #f58318;
  color: #fcfcfc;
}
.wrapper .top main .main-center .results .totals:hover svg g path {
  fill: #fcfcfc;
}
.wrapper .top main .main-right {
  margin: auto;
  width: 15%;
  height: 83vh;
}
.wrapper .modal-settings {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(15, 26, 28, 0.5);
  border-radius: 5px;
  display: none;
}
.wrapper .modal-settings .info {
  margin: 0 auto;
  width: 45%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.3);
  border-left: 3px solid orangered;
  border-bottom: 5px solid orangered;
  overflow-y: auto;
}
.wrapper .modal-settings .info .info-header {
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .modal-settings .info .info-header img {
  margin-left: 3%;
}
.wrapper .modal-settings .info .info-header button {
  margin-right: 3%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .modal-settings .info .info-header .modal-title {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.25vw;
  letter-spacing: 0;
  color: #0f1a1c;
  align-self: center;
  text-align: center;
}
.wrapper .modal-settings .info .info-main {
  margin: 0 auto;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}
.wrapper .modal-settings .info .info-main .combo-block {
  margin: 0 auto;
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-label {
  width: 34%;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  letter-spacing: 0;
  text-align: left;
  align-self: center;
}
.wrapper .modal-settings .info .info-main .combo-block .mode {
  width: 14%;
}
.wrapper .modal-settings .info .info-main .combo-block .choice {
  width: 20%;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-input {
  margin-left: 10px;
  padding: 5px;
  width: 60%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  color: #0f1a1c;
  border: 1px solid #c2cacc;
  border-radius: 5px;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-input::-moz-placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-input::placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-button {
  margin-left: 1%;
  padding: 5px;
  width: 6%;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  text-align: center;
  background-color: #dae6e8;
  border-radius: 5px;
  border: none;
  outline: none;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-button:hover {
  background-color: #f5a836;
}
.wrapper .modal-settings .info .info-main .combo-block .mode-button {
  margin-left: 2%;
  width: 18%;
}
.wrapper .modal-settings .info .info-main .combo-block .mode-button label {
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: red;
  text-align: center;
}
.wrapper .modal-settings .info .info-main .combo-block .mode-button-label {
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  text-align: center;
  align-self: center;
}
.wrapper .modal-settings .info .info-main .combo-block .mode-button:hover {
  background-color: #f5a836;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-text {
  margin-left: 10px;
  padding: 5px;
  width: 96%;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-text::-moz-placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-text::placeholder {
  padding: 10px 5px 10px 10px;
  color: #c2cacc;
  font-style: italic;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: auto;
  max-height: 41.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  overflow-y: auto;
  display: none;
  background-color: #fcfcfc;
  border: 2px solid #dae6e8;
  position: absolute;
  top: 100%;
  z-index: 99;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item {
  margin-bottom: 2%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input {
  padding: 5px;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  color: #0f1a1c;
  border: 1px solid #c2cacc;
  border-radius: 5px;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .combo-list-input img {
  height: 100%;
  width: auto;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose {
  margin-left: -10px;
  padding: 10px 20px;
  height: 100%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  background-color: #dae6e8;
  border: none;
  border-radius: 5px;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .btn-choose:hover {
  background-color: #f5a836;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item label {
  margin-left: 10px;
  width: 70%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  text-align: left;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-item .search {
  margin-right: 20px;
  width: 70%;
  visibility: hidden;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list #allThemesCombo {
  display: none;
}
.wrapper .modal-settings .info .info-main .combo-block .combo-list .combo-list-choice {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  display: none;
  background-color: #fcfcfc;
}
.wrapper .modal-settings .info .info-main .combo-block #modeChoice {
  margin-right: 4%;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-self: center;
}
.wrapper .modal-settings .info .info-main .combo-block .user-choice {
  margin-left: 10px;
  padding: 5px;
  width: 80%;
  height: auto;
  border: 1px solid #c2cacc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  align-self: center;
}
.wrapper .modal-settings .info .info-main .combo-block .user-choice .user-choice-result {
  margin: 0 auto;
  padding: 5px 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.wrapper .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-label {
  width: 20%;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  align-self: flex-start;
  text-align: left;
}
.wrapper .modal-settings .info .info-main .combo-block .user-choice .user-choice-result .result-field {
  padding: 0 5px;
  width: 80%;
  height: auto;
  font-family: Roboto;
  font-size: 0.97vw;
  font-weight: 300;
  line-height: 0.97vw;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  text-align: left;
  border: none;
  outline: none;
  background-color: #fcfcfc;
  resize: none;
}
.wrapper .modal-settings .info .info-main #userChoiceBlock {
  margin-top: 4%;
}
.wrapper .modal-settings .info .info-button {
  margin: 0 auto;
  margin-bottom: 7%;
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .modal-settings .info .info-button .btn-go {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 1.53vw;
  font-weight: 300;
  line-height: 1.53vw;
  letter-spacing: 0;
  background-color: #dae6e8;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .modal-settings .info .info-button .btn-go:hover {
  background-color: #f5a836;
}
.wrapper .results-cover {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(15, 26, 28, 0.5);
  display: none;
}
.wrapper .results-cover .results {
  margin: 0 auto;
  width: 45%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.3);
  border-left: 3px solid orangered;
  border-bottom: 5px solid orangered;
}
.wrapper .results-cover .results .results-header {
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .results-cover .results .results-header .results-title {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.25vw;
  letter-spacing: 0;
  color: #0f1a1c;
  align-self: center;
  text-align: center;
}
.wrapper .results-cover .results .results-header img {
  margin-left: 3%;
}
.wrapper .results-cover .results .results-header button {
  margin-right: 3%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .results-cover .results .results-main {
  margin: 0 auto;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #d7dbdb;
  border-radius: 5px;
}
.wrapper .results-cover .results .results-main .results-mode {
  margin: 0 auto;
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .results-cover .results .results-main .results-mode .results-totals {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.wrapper .results-cover .results .results-main .results-mode .results-totals .totals-title {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.25vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.wrapper .results-cover .results .results-main .results-mode .results-totals .totals-text {
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.wrapper .results-cover .results .results-main .results-mode .results-totals .grand-title {
  font-size: 1.39vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.wrapper .results-cover .results .results-main .results-mode .results-totals .grand-text {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.25vw;
  letter-spacing: 0;
  color: #0f1a1c;
}
.wrapper .results-cover .results .results-main .results-mode .title {
  justify-content: flex-start;
}
.wrapper .results-cover .results .results-button {
  margin: 0 auto;
  margin-bottom: 3%;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
}
.wrapper .results-cover .results .results-button .btn-ok {
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 1.39vw;
  font-weight: 300;
  line-height: 1.39vw;
  letter-spacing: 0;
  background-color: #dae6e8;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.wrapper .results-cover .results .results-button .btn-go:hover {
  background-color: #c2cacc;
}
.wrapper .results-cover .results .results-button .btn-ok:hover {
  background-color: #f5a836;
}
@media print {
  .wrapper .results-cover .results .results-header,
  .wrapper .results-cover .results .results-button {
    display: none;
  }
  .wrapper .results-cover .results #resultsMain {
    display: block;
  }
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f7f7;
}
.wrapper footer .footer-left {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-left .footer-left-block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.wrapper footer .footer-left .footer-left-block .logo {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-left .footer-left-block .logo img {
  margin: 0 auto;
  margin-right: 8%;
  height: 50%;
  width: auto;
  align-items: center;
}
.wrapper footer .footer-center {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f58318;
  clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.wrapper footer .footer-center .footer-center-block {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-center .footer-center-block menu {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
}
.wrapper footer .footer-center .footer-center-block menu .menu-item {
  margin: auto 0;
  margin-right: 4%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 1.11vw;
  font-weight: 300;
  line-height: 1.11vw;
  letter-spacing: 0;
  cursor: pointer;
}
.wrapper footer .footer-center .footer-center-block menu .menu-item:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.wrapper footer .footer-center .footer-center-block menu .future {
  color: grey;
}
.wrapper footer .footer-center .footer-center-block menu .future:hover {
  color: #d7dbdb;
}
.wrapper footer .footer-center .footer-center-block .copyright {
  margin: 0 auto;
  margin-left: 26%;
  width: 30%;
  height: 100%;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 0.83vw;
  letter-spacing: 0;
  align-items: center;
  text-align: left;
}
.wrapper footer .footer-right {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f58318;
}
.wrapper footer .footer-right .footer-right-block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.wrapper footer .footer-right .footer-right-block menu {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.wrapper footer .footer-right .footer-right-block menu .menu-item {
  margin: 0;
  margin-left: 8%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  align-items: center;
}
.wrapper footer .footer-right .footer-right-block menu .menu-item img {
  margin: 0 auto;
  height: 16px;
  width: auto;
  align-items: end;
}
.wrapper footer .footer-right .footer-right-block menu .menu-item:hover {
  color: #fcfcfc;
  font-weight: 500;
}
.wrapper footer .footer-right .footer-right-block menu .menu-item:hover path {
  fill: #fcfcfc;
}/*# sourceMappingURL=home.css.map */