//@use "sass:math1";
@use "sass:list";

@import "../vars/vars.scss";
@import "../chart/chart.scss";

$viewport-width: var(--viewport-width);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .index-cover {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    .info {
      margin: 0 auto;
      width: 45%;
      height: 55%;
      @include flex-vertical();
      justify-content: space-between;
      background-color: rgba(247, 213, 161, 1); // $color-blick-light;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; 
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 70%;
        height: fit-content;
        @include flex-vertical();
        @include text-font(16px, 300, 20px, 0);
        text-align: center;
        p {
          margin-bottom: 1.8%;
        }
        .terve {
          @include text-font(20px, 500, 20px, 0);
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 15%; 
        @include flex-horizontal();
        .btn-go {
          width: 40%; 
          height: 100%;
          text-align: center;
          @include text-font(20px, 300, 20px, 0);
          background-color: $color-grey;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-grey-dark;
        }
      }
    }
  }
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      margin: 0 auto;
      width: $header-width;
      height: $header-height;
      @include flex-horizontal();
      background-color: $color-lang-light; 
      .header-left {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        .header-left-block {
          margin: 0 auto; 
          padding-bottom: 1vh;
          width: 100%;
          height: 100%; 
          @include flex-horizontal();
          align-items: end;
          background-color: $color-blick;
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
          }
          svg {
            margin: 0 auto;
            margin-right: 8%;
            height: 80%;
            width: auto;
            align-items: end;
            rect {
              fill: $color-blick;
            }
            .color-dark:hover {
              fill: $color-light;
              cursor: pointer;
            }
          }         
        }
      }
      .header-center {
        margin: 0 auto;
        width: $block-width;
        height: 100%;
        @include flex-vertical();
        background-color: $color-blick;
        clip-path: polygon(0% 0%, 100% 0%, 76% 100%, 0% 100%);
        .header-center-block {
          margin: 0 auto;
          width: 100%;
          height: fit-content; 
          @include flex-horizontal();
          justify-content: space-between;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; 
            width: 70%; 
            height: 100%; 
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            .menu-item {
              margin: auto 0; 
              margin-right: 4%;
              width: fit-content;
              height: fit-content;
              border: none;
              background: none;
              @include text-font(1.25vw, 300, 1.25vw, 0); //18px; 
              cursor: pointer;
            }
            .menu-item:hover {
              color: $color-light; 
              font-weight: 500;
            }
            .future {
              color: grey;
            }
            .future:hover {
              color: $color-grey-hover;
            }
          }
          .service-time {
            margin: 0 auto;
            padding-bottom: 1vh; 
            margin-right: 24%;  
            width: 30%; 
            height: 100%; 
            @include flex-vertical();
            justify-content: flex-end;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px
            align-items: end;
            text-align: right;
            z-index: 999;
          }
        }
      }
      .header-right {
        margin: 0 auto;
        width: 0.5 * ($site-width - $block-width);
        height: 100%;
        @include flex-vertical();
        justify-content: flex-end;
        .header-right-block {
          margin: 0 auto; 
          width: 100%;
          height: 100%; 
          @include flex-horizontal();
          align-items: end;
          menu {
            margin: 0 auto;
            padding-bottom: 1vh; 
            width: 100%; 
            height: 100%; 
            @include flex-horizontal();
            justify-content: flex-start;
            align-items: end;
            .menu-item {
              margin: 0; 
              margin-left: 8%;
              width: fit-content;
              height: fit-content;
              border: none;
              background: none;
              @include flex-vertical();
              justify-content: flex-end;
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px
              cursor: pointer;
              align-items: end;
              img {
                margin: 0 auto;
                height: 16px;
                width: auto;
                align-items: end;
              }
            }
            .header {
              margin-left: 15%;
            }
            .menu-item:hover {
              color: $color-accent;
              font-weight: 500;
            }
            .menu-item:hover path {
              fill: $color-accent;
            }
            .combo-block {
              margin: 0; 
              width: fit-content; 
              height: auto;
              @include flex-vertical();
              position: relative;
              #appLangEng,
              #appLangRus,
              #appLangEngChoice {
                margin-left: 40%; 
                margin-top: 15%;
                opacity: 1;
                border: none;
                outline: none;
              }
              .combo-list {
                margin: 0; 
                width: 100%;
                height: auto;
                @include flex-vertical();
                border: 2px solid $color-grey;
                background-color: $color-grey;
                opacity: 1;
                position: absolute;
                top: -100%;
                z-index: 99;
                display: none;
              }
            }
          }
        }
      }
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $min-main-height;
      @include flex-horizontal();
      .main-left {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
        @include flex-vertical();
        .info-content-block {
            margin: 0 auto;
            padding: 10px;
            width: 65%; 
            height: fit-content;  
            @include flex-vertical();
            border-left: 2px solid orangered;
            border-bottom: 3px solid orangered;
            border-radius: 5px;
            box-shadow: -10px 10px 10px 10px rgba(0,0,0,0.2);
            .task-description {
              margin: 0 auto;
              width: 96%;
              height: 40%; 
              @include flex-horizontal();
              justify-content: flex-start;
              .info-content {
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px
                color: $color-blick; 
                text-align: left;                
              }
              .then {
                margin-top: 1.39%;  
                @include text-font(1.11vw, 400, 1.11vw, 0);
              }
            }
            .task-langs {
              margin: 0 auto;
              margin-top: 0.97vw;
              width: 100%;  
              height: fit-content;  
              @include flex-vertical();
              justify-content: flex-start;
              cursor: pointer;
              .info-content {
                @include text-font(0.83vw, 300, 1.11vw, 0); //14px
                color: grey;  
                text-align: left;
              }
              .info-content:hover {
                color: $color-blick;
              }
            }
            .task-themes {
              margin: 0 auto;
              margin-top: 0.97vw;
              width: 100%;  
              height: fit-content;  
              @include flex-horizontal();
              justify-content: flex-start;
              flex-wrap: wrap;
              cursor: pointer;
              .info-content {
                @include text-font(0.83vw, 300, 1.11vw, 0); //14px
                color: grey;  
                text-align: left;
              }
              .info-content:hover {
                color: $color-blick;
              }
            }
        }
      }
      .main-center {
        margin: 0 auto;
        width: $block-width;
        height: $min-main-height;
        @include flex-vertical();
        .task-info {
          margin: 0 auto;
          margin-bottom: 1.39vw;  
          width: 100%;
          height: 8%;
          @include flex-horizontal();
          justify-content: space-between;
          position: relative;
          .info-title-block {
            margin: 0; 
            width: 20%; 
            height: 100%;
            @include flex-vertical();
            .info-title {
              @include text-font(1.67vw, 400, 1.67vw, 0); // 24px
              color: $color-dark;
            }
          }
          .info-description-block {
            margin: 0 auto;
            width: 60%;
            height: 100%; 
            @include flex-vertical();
            .task-description {
              width: 96%;
              @include flex-horizontal();
              .info-content {
                @include text-font(1.11vw, 300, 1.11vw, 0); //16px
                color: $color-dark;  
                text-align: left;                
              }
            }
          }
          .info-content-block {
            margin: 0 auto;
            padding: 0.69vw 1.39vw; //10 px 20px;
            width: fit-content; 
            max-width: 12vw;
            height: fit-content;  
            @include flex-vertical();
            border-left: 2px solid orangered;
            border-bottom: 3px solid orangered;
            border-radius: 5px;
            box-shadow: -10px 10px 10px 10px rgba(0,0,0,0.2);
            box-shadow: -0.69vw 0.69vw 0.69vw 0.69vw rgba(0,0,0,0.2);
            position: absolute;
            top: 25vh;
            left: -13vw;
            .task-description {
              margin: 0 auto;
              width: 96%;
              height: 40%; // 50%;
              @include flex-horizontal();
              justify-content: flex-start;
              .info-content {
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px
                color: $color-blick;  
                text-align: left;                
              }
              .then {
                margin-top: 1.39%;  
                @include text-font(1.11vw, 400, 1.11vw, 0);
              }
            }
            .about {
              @include flex-vertical();
              justify-content: space-between;
            }
            .task-langs {
              margin: 0 auto;
              margin-top: 0.97vw;
              width: 100%;  
              height: fit-content;  
              @include flex-vertical();
              justify-content: flex-start;
              cursor: pointer;
              .info-content {
                @include text-font(0.83vw, 300, 1.11vw, 0); //14px
                color: grey;  
                text-align: left;
              }
              .info-content:hover {
                color: $color-blick;
              }
            }
            .task-themes {
              margin: 0 auto;
              margin-top: 0.97vw;
              width: 100%;  
              height: fit-content;  
              @include flex-horizontal();
              justify-content: flex-start;
              flex-wrap: wrap;
              cursor: pointer;
              .info-content {
                @include text-font(0.83vw, 300, 1.11vw, 0); //14px
                color: grey; 
                text-align: left;
              }
              .info-content:hover {
                color: $color-blick;
              }
            }
          }
          .info-content-block-about {
            margin: 0 auto;
            width: 90%;
            height: fit-content;
            @include flex-vertical();
            .task-description-about {
              margin: 0 auto;
              width: 96%;
              height: 40%; 
              @include flex-vertical();
              justify-content: flex-start;
              .info-content {
                margin-bottom: 0.69vw;
                @include text-font(0.97vw, 300, 0.97vw, 0); //16px
                color: $color-dark;
                text-align: left;                
              }
              .then {
                @include text-font(0.97vw, 400, 0.97vw, 0);
              }
            }
          }
          .info-service-block {
            margin: 0; 
            width: 20%; 
            height: 100%;
            @include flex-vertical();
            .btn-link {
              margin-bottom: 2%;
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px
              color: $color-dark;
              align-self: flex-end;
              text-align: right;
              text-decoration: underline;
              background-color: $color-light;
              border: none;
              outline: none;
              cursor: pointer;
            }
            .btn-link:hover {
              color: $color-accent;
            }
            #changeModeBtn {
              display: none;
            }
          }
        }
        .task-settings {
          margin: 0 auto;
          margin-top: 0.5%; 
          width: 100%;
          height: 4%; 
          @include flex-horizontal();
          justify-content: space-between;
          border: 1px solid green;
          display: none;
          .counter {
            margin: auto;
            width: 32%;
            height: 100%;
            @include flex-horizontal();
            justify-content: flex-start;
            border: 1px solid orangered;
            align-items: center;
            .counter-label {
              @include text-font(1.11vw, 300, 1.11vw, 0);
              color: $color-dark;
            }
            .counter-btn {
              width: 1.67vw;
              @include text-font(1.67vw, 300, 1.67vw, 0);
              color: $color-dark;
              background: none;
              border: none;
              outline: none;
              cursor: pointer;
            }
            #btnPrevNumWords,
            #btnPrevNumOpt {
              margin-left: 0.69vw;
            }
            #btnNextNumWords,
            #btnNextNumOpt {
              margin-right: 0.69vw;
            }
            .counter-value {
              width: 2.08vw;
              @include text-font(1.11vw, 300, 1.11vw, 0);
              color: $color-dark;
              text-align: right;
            }
          }
        }
        @include chartjs();
        .task-mode-block {
          margin: 0 auto;
          width: 100%;
          height: 74%; 
          @include flex-vertical();
          justify-content: space-around;
          overflow-y: auto;
          .task-mode {
            margin: 0 auto;
            width: 100%; 
            height: 48%; 
            @include flex-horizontal();
            justify-content: space-around;
            .item-card,
            .item-card-base {
              margin: auto 0; 
              width: 18%; 
              height: 96%; 
              @include flex-vertical();
              justify-content: flex-start; 
              border-radius: 5px;
              .item-heading,
              .item-heading-lang {
                width: 100%;
                height: 25%; 
                @include flex-horizontal();
                align-items: center;
                background-color: $color-grey;
                border: 1px solid $color-grey-dark;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                .heading-text {
                  @include text-font(1.11vw, 300, 1.11vw, 0); //16px
                  color: $color-dark;
                  text-align: center;
                }
              }
              .item-option,
              .item-option-lang {
                width: 100%;
                height: 25%; 
                @include flex-horizontal();
                align-items: center;
                background-color: $color-lang-light;
                border: 1px solid $color-grey-dark;
                .option-word-block {
                  width: 80%;
                  height: 100%;
                  @include flex-vertical();
                  .option-word {
                    @include text-font(1.11vw, 300, 1.11vw, 0); //16px
                    color: $color-dark;
                    text-align: center;
                  }
                  .option-spell {
                    @include text-font(0.97vw, 300, 0.97vw, 0); //14px
                    color: $color-dark;
                    text-align: center;
                  }
                }
                .option-radio-block {
                  width: 20%;
                  height: 100%;
                  @include flex-vertical();
                }

                .base {
                  @include text-font(1.39vw, 400, 1.39vw, 0); //20px
                }
              }
              .item-option-lang {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;//
              }
              .item-option:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }
              .item-option:hover {
                background-color: $color-blick-light;
              }
              .base {
                font-weight: 400;
                background-color: $color-blick-light;
              }
              .item-heading-lang:hover {
                background-color: $color-blick-light;
              }
              .item-option-lang:hover {
                background-color: $color-blick-light-lang;
              }
            }
            .item-card:hover {
              .item-option, .item-option-lang, .item-heading, .item-heading-lang {
                border: 1.5px solid $color-blick;
              }
            }
            .item-card-base:hover {
              .item-option, .item-option-lang, .item-heading, .item-heading-lang {
                border: 1.5px solid $color-blick;
              }
            }
          }
        }
        .task-navi {
          margin: 0 auto;
          margin-top: 2%; 
          width: 100%;
          height: 7%; 
          @include flex-horizontal();
          justify-content: space-between;
          align-items: center;
          .navi-buttons,
          .navi-buttons-exit {
            height: 70%;
            width: fit-content;
            @include flex-horizontal();
            align-self: center;
            align-items: center;
            .btn-link {
              padding: 0 1.39vw;
              height: 100%; 
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
              color: $color-dark;
              align-self: flex-end;
              text-align: right;
              text-decoration: underline;
              background-color: $color-light;
              border: none;
              outline: none;
              cursor: pointer;
              @include flex-horizontal();
              align-self: center;
              align-items: center;
              img {
                height: 100%;
                width: auto;
                align-self: center;
              }
            }
            .btn-link:hover {
              color: $color-accent;
              svg path {
                fill: $color-accent;
              }
            }
            .pagination-list {
              @include flex-horizontal();
              justify-content: space-around;
              .pagination-item {
                padding: 5px 10px; 
                list-style-type: none;
                @include text-font(1.25vw, 300, 1.25vw, 0); //18px;
                color: $color-dark;
                cursor: pointer;
              }
              .active {
                color: $color-accent;
                font-weight: 400;
              }
              .pagination-item:hover {
                background-color: $color-grey;
                color: $color-accent;
                border-radius: 5px;
              }
            }
          }
        }
        .task-results {
          margin: 0 auto;
          margin-bottom: 0%;  
          width: 100%;
          height: 1%; 
          @include flex-horizontal();
          justify-content: space-between;
          .results-buttons {
            height: 100%; 
            width: 30%;
            @include flex-horizontal();
            align-self: center;
            align-items: center;
            .set-get {
              visibility: hidden;
              margin: 0; 
              width: 100%; 
              height: 100%;
              @include flex-horizontal();
              align-items: center;
              align-self: center;
              background: none;
              border-radius: 5px;
              border: none;
              @include text-font(1.11vw, 400, 1.11vw, 0); // 20px
              text-decoration: underline;
              color: $color-dark;
              cursor: pointer;
              img {
                height: 100%;
                width: auto;
                align-self: center;
              }
            }
            .set-get:hover {
              color: $color-accent;
              svg path {
                fill: $color-accent;
              }
            }
          }
          .totals {
            margin: 0; 
            width: 45%;
            height: 100%;
            @include flex-vertical();
            background-color: $color-grey;
            background: none;
            border: none;
            border-radius: 5px;
            position: relative;
            .totals-block {
              margin: 0 auto; 
              padding: 0.69vw 2.08vw; // 10px 30px;
              width: fit-content; 
              height: fit-content;
              @include flex-vertical();
              border-right: 2px solid orangered;
              border-bottom: 3px solid orangered;
              border-radius: 5px;
              box-shadow: 0.69vw 0.69vw 0.69vw 0.69vw rgba(0,0,0,0.2);
              position: absolute;
              top: -50vh;  
              right: -13vw;  
              .total-item {
                margin: auto;
                margin-bottom: 0.97vw;
                width: 96%;
                height: fit-content;              
                @include flex-horizontal();
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .total-text {
                  @include text-font(1.25vw, 400, 1.25vw, 0); //18px; 
                  margin-left: 2.3%;
                  color: grey;              
                }
                .smile path {
                  fill: grey;
                }
              }
              .total-item:hover {
                color: $color-blick-dark;
                .total-text {
                  color: $color-blick-dark;
                }
                svg path {
                  fill: $color-blick-dark;
                }
              }
              .neutral {
                  display: none;
              }
            }
          }
          .totals:hover {
            color: $color-accent;
            svg path {
              fill: $color-accent;
            }
            #enjoy {
              color: $color-accent;
            }
            #worry {
              color: $color-accent;
            }
            #totalText {
              color: $color-accent;
            }
          }
        }
      }
      .main-right {
        margin: auto;
        width: 0.5 * ($site-width - $block-width);
        height: $min-main-height;
        @include flex-vertical();
        .totals-block {
          margin: 0 auto; 
          padding: 10px;
          width: 65%;
          height: fit-content;
          @include flex-vertical();
          border-right: 2px solid orangered;
          border-bottom: 3px solid orangered;
          border-radius: 5px;
          box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
          .total-item {
            margin: auto;
            margin-bottom: 0.97vw;
            width: 96%;
            height: fit-content;              
            @include flex-horizontal();
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .total-text {
              @include text-font(1.25vw, 400, 1.25vw, 0); //18px; 
              margin-left: 2.3%;
              color: grey;              
            }
            .smile path {
              fill: grey;
            }
          }
          .total-item:hover {
            color: $color-blick-dark;
            .total-text {
              color: $color-blick-dark;
            }
            svg path {
              fill: $color-blick-dark;
            }
          }
          .neutral {
              display: none;
          }
        }
      }
    }
  }
  .modal-settings {
    margin: 0;
    width: $site-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-vertical();
    background-color: rgba(15, 26, 28, 0.5); // $color-dark;
    display: none;
    .info {
      margin: 0 auto;
      width: 45%;
      height: 100vh - $header-height - $footer-height; 
      @include flex-vertical();
      justify-content: space-between;
      background-color: rgba(252, 252, 252, 1); // $color-blick-light;
      overflow-y: auto;
      .info-header {
        margin: 0 auto;
        margin-top: 3%; 
        width: 100%;
        height: fit-content;
        @include flex-horizontal();
        justify-content: space-between;
        img {
          margin-left: 3%;
        }
        button {
          margin-right: 3%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .modal-title {
          @include text-font(1.25vw, 500, 1.25vw, 0); //18px; 
          color: $color-dark;
          align-self: center;
          text-align: center;
        }
      }
      .info-main {
        margin: 0 auto;
        width: 90%; 
        height: fit-content;
        @include flex-vertical();
        text-align: center;
        .combo-block {
          margin: 0 auto;
          margin-bottom: 2%;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: space-between;
          align-items: center;
          position: relative;
          .combo-label {
            width: 34%;
            @include text-font(1.25vw, 300, 1.25vw, 0); //18px; 
            text-align: left;
            align-self: center;
          }
          .mode {
            width: 14%;
          }
          .choice {
            width: 20%;
          }
          .combo-input {
            margin-left: 10px;
            padding: 5px;
            width: 60%;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
            color: $color-dark;
            border: 1px solid $color-grey-dark;
            border-radius: 5px;
          }
          .combo-input::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
          }
          .combo-button {
            margin-left: 1%;
            padding: 5px;
            width: 6%; // 5.2%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            text-align: center;
            background-color: $color-grey;
            border-radius: 5px;
            border: none;
            outline: none;
          }
          .combo-button:hover {
            background-color: $color-blick;
          }
          .mode-button {
            margin-left: 2%; 
            width: 18%; 
            label {
              @include text-font(1.11vw, 300, 1.11vw, 0); //16px;
              color: red;
              text-align: center;
            }
          }
          .mode-button-label {
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            text-align: center;
            align-self: center;
          }
          .mode-button:hover {
            background-color: $color-blick;
          }
          .combo-text {
            margin-left: 10px;
            padding: 5px;
            width: 96%;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            color: $color-dark;
          }
          .combo-text::placeholder {
            padding: 10px 5px 10px 10px;
            color: $color-grey-dark;
            font-style: italic;
            @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
          }
          .combo-list {
            margin: auto; 
            padding: 10px;
            width: 100%; 
            height: auto;
            max-height: 0.5 * (100vh - $header-height - $footer-height);
            @include flex-vertical();
            justify-content: space-between;
            overflow-y: auto;
            display: none;
            background-color: $color-light; 
            border: 2px solid $color-grey;
            position: absolute;
            top: 100%;
            z-index: 99;
            .combo-list-item {
              margin-bottom: 2%;
              width: auto; 
              @include flex-horizontal();
              align-items: center;
              .combo-list-input {
                padding: 5px;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px;
                color: $color-dark;
                border: 1px solid $color-grey-dark;
                border-radius: 5px;
                img {
                  height: 100%;
                  width: auto;
                }
              }
              .btn-choose {
                padding: 5px;
                width: 15%; 
                height: 100%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                background-color: $color-grey;
                border: none;
                border-radius: 5px;
              }
              .btn-choose:hover {
                background-color: $color-grey-dark;
              }
              label {
                margin-left: 10px;
                width: 70%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                text-align: left;
              }
              .search {
                margin-right: 20px;
                width: 70%;
              }
            }
            .combo-list-choice {
              margin: auto;
              padding: 10px;
              width: 100%;
              height: auto;
              @include flex-vertical();
              justify-content: space-between;
              display: none;
              background-color: $color-light;
            }
          }
          #modeChoice {
            margin-right: 4%;
            width: 80%; 
            height: 100%;
            @include flex-horizontal();
            justify-content: space-between;
            align-self: center;
          }
          .user-choice {
            margin-left: 10px;
            padding: 5px;
            width: 80%; 
            height: auto;
            border: 1px solid $color-grey-dark;
            border-radius: 5px;
            @include flex-vertical();
            justify-content: space-between;
            align-self: center;
            .user-choice-result {
              margin: 0 auto;
              padding: 5px 0;
              width: 100%;
              height: fit-content;
              @include flex-horizontal();
              justify-content: flex-start;
              align-items: center;
              .result-label {
                width: 20%;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                align-self: flex-start;
                text-align: left;
              }
              .result-field {
                padding: 0 5px;
                width: 80%;
                height: auto;
                font-family: Roboto;
                @include text-font(0.97vw, 300, 0.97vw, 0); //14px; 
                @include flex-vertical();
                align-items: center;
                align-content: center;
                text-align: left;
                border: none;
                outline: none;
                background-color: $color-light;
                resize: none;
              }
            }
          }
        }
        #userChoiceBlock {
          margin-top: 4%;
        }
      }
      .info-button {
        margin: 0 auto;
        margin-bottom: 7%;
        width: 100%;
        height: 14%; 
        @include flex-horizontal();
        .btn-go {
          width: 40%; 
          height: 100%;
          text-align: center;
          @include text-font(1.53vw, 300, 1.53vw, 0); //22px; 
          background-color: $color-grey;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .btn-go:hover {
          background-color: $color-blick; 
        }
      }
    }
  }
  footer {
    margin: 0 auto;
    width: $footer-width;
    height: $footer-height;
    @include flex-horizontal();
    background-color: $color-lang-light; 
    .footer-left {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      .footer-left-block {
        margin: 0 auto; 
        width: 100%;
        height: 100%; 
        @include flex-horizontal();
        align-items: center;
        .logo {
          margin: 0 auto;
          width: fit-content;
          height: 100%;
          @include flex-vertical();
          img {
            margin: 0 auto;
            margin-right: 8%;
            height: 50%;
            width: auto;
            align-items: center;
          }
        }        
      }
    }
    .footer-center {
      margin: 0 auto;
      width: $block-width;
      height: 100%;
      @include flex-vertical();
      background-color: $color-blick-dark;
      clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
      .footer-center-block {
        margin: 0 auto;
        width: 100%;
        height: fit-content; 
        @include flex-horizontal();
        justify-content: space-between;
        menu {
          margin: 0 auto;
          width: 70%; 
          height: 100%; 
          @include flex-horizontal();
          justify-content: flex-end;
          align-items: center;
          .menu-item {
            margin: auto 0; 
            margin-right: 4%;
            width: fit-content;
            height: fit-content;
            border: none;
            background: none;
            @include text-font(1.11vw, 300, 1.11vw, 0); //16px; 
            cursor: pointer;
          }
          .menu-item:hover {
            color: $color-light;  
            font-weight: 500;
          }
          .future {
            color: grey;
          }
          .future:hover {
            color: $color-grey-hover;
          }
        }
        .copyright {
          margin: 0 auto;
          margin-left: 26%;
          width: 30%;
          height: 100%; 
          @include text-font(0.83vw, 300, 0.83vw, 0); //12px; 
          align-items: center;
          text-align: left;
        }
      }
    }
    .footer-right {
      margin: 0 auto;
      width: 0.5 * ($site-width - $block-width);
      height: 100%;
      @include flex-vertical();
      background-color: $color-blick-dark;
      .footer-right-block {
        margin: 0 auto; 
        width: 100%;
        height: 100%; 
        @include flex-horizontal();
        align-items: center;
        menu {
          margin: 0 auto;
          width: 100%; 
          height: 100%; 
          @include flex-horizontal();
          justify-content: flex-start;
          align-items: center;
          .menu-item {
            margin: 0; 
            margin-left: 8%;
            width: fit-content;
            height: fit-content;
            border: none;
            background: none;
            @include text-font(16px, 300, 16px, 0);
            cursor: pointer;
            align-items: center;
            img {
              margin: 0 auto;
              height: 16px;
              width: auto;
              align-items: end;
            }
          }
          .menu-item:hover {
            color: $color-light;  
            font-weight: 500;
          }
          .menu-item:hover path {
            fill: $color-light; 
          }
        }
      }
    }
  }
}
